<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <h1>Data</h1>
    <style>
        table, th, td {
        border:1px solid black;
        }
    </style>
</head>
    <body>
    {% extends "base.html" %}
    {% block content %}
        <table style="width:100%">
            <tr>
                <th>City</th>
                <th>Coordinates</th>
                <th>Elevation</th>
                <th>Comment</th>
                <th>Delete</th>
            </tr>
         {% for city in cities %}
                        <tr>
                            <td>{{ city[0] }}</td>
                            <td>{{ city[1] }}</td>
                            <td>{{ city[2] }}</td>
                            <td><input type="text" id="Com" name="comment"/></td>
                            <td><input type="checkbox" id="del" name="delete"/>
                                <label for="del"></label></td>
                        </tr>
                    {% endfor %}
            </table>
            <button id="update" name="update">Update</button>
        {% endblock %}

    </body>
</html>